# MkDocs build directory
site/

# Confluence exporter cache
.drawio-exporter/

# Virtual environment
venv/
env/
.venv/
.env/

# Environment variables
.env
.env.*
!.env.example

# Mike versioning
.mike-cache/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
